[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
argparse = "*"
pendulum = "*"
geopy = "*"
rich = "*"
atproto = "*"
keyring = "*"
piexif = "*"
configparser = "*"
pillow = "*"
tinydb = "*"

[dev-packages]

[requires]
python_version = "3.12"
