[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pendulum = "*"
geopy = "*"
rich = "*"
atproto = "*"
keyring = "*"
piexif = "*"
configparser = "*"
pillow = "*"
tinydb = "*"
typer = "*"
photomise = {file = ".", editable = true}

[dev-packages]
pytest = "*"
black = "*"
isort = "*"

[requires]
python_version = "3.12"
