[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pendulum = "*"
geopy = "*"
rich = "*"
piexif = "*"
pillow = "*"
tinydb = "*"
typer = "*"
pillow-heif = "*"
pyspellchecker = "*"
keyring = "*"
atproto = "*"

[dev-packages]
pytest = "*"
black = "*"
isort = "*"
ruff = "*"

[requires]
python_version = "3.12"
